@font-face {
    font-family:inter-regular ;
    src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
    font-family:inter-light ;
    src: url("../fonts/Inter-Light.ttf");
}
@font-face {
    font-family:inter-semibold ;
    src: url("../fonts/Inter-SemiBold.ttf");
}
@font-face {
    font-family:inter-bold ;
    src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
    font-family:inter-medium ;
    src: url("../fonts/Inter-Medium.ttf");
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e3e3e3;
    width: 100%;
    height: 100%;
    font-family: inter-regular;
}
.header-table {
    display: table;
    width: 100%;
}
.header-table-cell {
    background-color: white;
    display: table-cell;
    width: 100%;
    padding: 10px;
}
.header-container {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.header-content-container {
    flex-direction: row;
    align-items: center;
    user-select: none;
    gap: 10px;
    display: flex;
}
.click-event:hover {
    opacity: 0.75;
    cursor: pointer;
    user-select: none;
}
.click-event:active {
    transform: translateY(2px);
    transition: transform 0.1s;
    user-select: none;
}
button {
    font-family: inter-semibold;
    padding: 12px 60px;
    border-radius: 50px;
    border: none;
    border: 2px solid red;
    user-select: none;
    background-color: red;
}
button.fill-container {
    width: 100%; 
}
button.filled {
    background-color: red;
    color: white;
}
button.outline {
    background-color: transparent;
    color: red;
}
button.ghost {
    background-color: transparent;
    border: 2px solid transparent;
    color: red;
}
.header-content {
    flex-direction: column;
    gap: 4px;
    display: flex;
}
.logo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.header-content span:nth-child(1) {
    font-family: inter-semibold;
    font-size: 22px;
    color: red;
}
.header-content span:nth-child(2) {
    font-family: inter-regular;
    font-size: 18px;
    color: #2E2E2E;
}
a {
    text-decoration: none;
    color: #232323;
}
a:hover {
    user-select: none;
    color: red;
}
.nav-container {
    align-items: center;
    gap: 10px;
    user-select: none;
    display: flex;
}
.section-title {
    font-size: 34px;
    color: #212121;
    font-family: inter-bold ;
    margin-bottom: 40px;
} 
.section-container {
    box-sizing: border-box;
    width: 100%;
    height: 75%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.section-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.mobile-menu-button {
    display: none;
}
.mobile-menu-button :hover {
    cursor: pointer;
}
.side-menu-container {
    transform: translateX(-101%);
    transition: transform 1s;
    user-select:none ;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.side-menu-filter {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    z-index: 99991;
    height: 100%;
    width: 100%;
}
.side-menu-container.isActive {
    transform: translateX(0%);
    transition: transform 1s;
}
.side-menu-container .side-menu-content-container{
    background-color: white;
    box-sizing: border-box;
    flex-direction: column;
    position: absolute;
    z-index: 99992;
    display: flex;
    padding: 20px;
    cursor: auto;
    height: 100%; 
    width:25em;
    bottom: 0;
    left: 0;
    right: 0;
}
.side-menu-container a {
    padding: 20px;
}
.side-menu-filter:hover {
    cursor: pointer;
}
.side-menu-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px ;
    padding: 0px 20px;
}
.side-menu-header-container > span {
    font-family: inter-semibold ;
   font-size: 24px;
    
}
.side-menu-header-container img{
    width: 20px;
    height: 20px;
    padding: 10px;
}
.side-menu-header-container img:hover {
    cursor: pointer;
}
.seperator {
    width: 100%;
    height : 1px;
    background-color: rgba(0, 0, 0,0.25);
}
.side-menu-seperator {
    margin-bottom: 10px;
}
@media screen and (max-width:950px) {
    .mobile-menu-button {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .mobile-menu-button:hover {
        cursor: pointer;
    }
    .mobile-menu-button img{
        width: 30px;
        height: 30px;
    }
    .nav-container {
        display: none;
    }
}
@media screen and (max-width:800px) {
    .section-container {
        height: auto;
    }
    .section-content-container { 
        flex-direction: column;
        justify-content: center;
    }
}
.text-input-container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    display: flex;
}
.text-input-container label {
    font-family: inter-semibold;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    font-size: 20px;
}
.text-input-container input {
    font-family: inter-regular;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid white;
    width: 100%;
    outline: none;
}
.text-input-container input:focus {
    border: 2px solid red;
    outline: none;
}
.multi-text-input-container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    display: flex;
}
.multi-text-input-container label {
    font-family: inter-semibold;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    font-size: 20px;
}
.multi-text-input-container textarea {
    font-family: inter-regular;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid white;
    width: 100%;
    resize: vertical;
    min-height: 150px;
    max-height: 500px;
    outline: none;
}
.multi-text-input-container textarea:focus {
    border: 2px solid red;
    outline: none;
}
.footer-container {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 20px;
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    user-select: none;
}
.footer-logo {
    width: 50px;
}

